/* Start Variables */
:root {
  --main-color: #2E2E32;
  --secondary-color: #B99146;
  --Other-color: #FFFFFF;
}
/* End Variables */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: auto;
  background: #2E2E32;
}
.header,.social{
  background: var(--secondary-color);
}
.container{
  display: grid;
  grid-template-areas:
    " header  main social";
    grid-template-columns: 1fr 4fr .5fr;
    height: 100vh;
}
/* موبايل - حتى 768px */
@media (max-width: 48rem) {
  .container{
    display:flex;
    height: 100vh;
    flex-direction: column;
}
}
.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.logo{
    display: flex;
    justify-content: center;
    width: 50%;
}

@media (max-width: 48rem) {
  .logo{
    width: 35%;
  }
}

.logo img{
  width: 70%; 
  height: auto;
  border-radius: 1.563rem;
  margin-bottom: 0.625rem;
  margin-top: 1.563rem;
  }
  main{
    overflow-y: scroll;
  }

@media (max-width: 48rem) {
  main {
    overflow-y: clip;
}
}


  .skills{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.625rem;
    flex-direction: column;
    margin-top: 2.188rem;
  }
  .skillsTitle{
    font-size: 1.563rem;
    color: var(--Other-color);  
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }

  .skill{
        display: flex;
    align-content: center;
    align-items: center;
      
  }
  .skill h2{
    color: var(--Other-color);
    margin-left: 0.625rem;
    
  }
  .title{
    color: var(--Other-color);
    font-size: 0.938rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    background: var(--secondary-color);
    padding: 0.313rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top:1.563rem;
    padding: 0.938rem;
    border-radius: 0.625rem;
    margin-bottom: 1.563rem;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .box{
    width: 35%;
    height: auto;
    background: var(--Other-color);
    margin: 0.313rem;
    padding: 0.313rem;
    border-radius: 0.313rem;
  }
  .box img{
    height: auto;
    border-radius: 0.625rem;
    margin-bottom: 0.188rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }
  .box h2{
    color: var(--main-color);
    margin-bottom: 0.313rem;
    text-align: center;
    font-size: 0.938rem;
  }
.social{
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 48rem) {
  .social{
    flex-direction: row;
  }
  }

.social a{
  font-size: 0.625rem;
  margin-top: 1.25rem;
  text-decoration: none;

}
.social a:hover{
  color: var(--Other-color);
  transition: 0.3s;
  scale: 1.5;
}
.skill:hover{
  color: var(--Other-color);
  transition: 0.3s;
  scale: 1.2;
}

.box img:hover{
  color: var(--Other-color);
  transition: 0.3s;
  scale: 1.1;
}
a{
  text-decoration: none;
  color: var(--main-color);
}
